@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.weather-card {
  background-image: linear-gradient(to right, #ffffff, #ffecd3);
}
